.main {
  background-color: rgb(23, 23, 41);
  height: 550px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 30px;

  border: 4px solid goldenrod;
  box-shadow: 3px 3px 3px 3px black;
  overflow: auto;
  clear: both;
}

#header {
  text-align: center;
  font-family: "Merriweather Sans", sans-serif;
  color: seashell;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

h3, p {
  color: seashell;
  text-align: center;
  /* This is really important for readibility on white pictures: (text-shadow) */
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.head {
  border: 3px solid goldenrod;
  box-shadow: 3px 3px 3px black;
  background-color: slategray;
  height: 90px;
}

body {
  background-image: url("./assets/concert.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;
  font-family: "Merriweather Sans", sans-serif;
}

.search {
  margin: 30px;
  width: fit-content;
  background: slategray;
  padding: 30px;
  border: 2px solid goldenrod;
  box-shadow: 3px 3px 3px black;
  justify-content: center;
  align-items: center;
}

#btn_submit {
  border: 1px solid goldenrod;
  box-shadow: 1px 1px 1px 1px black;
  width: 50px;
  height: 50px;
  margin: 5px;
  background: slategray;
  font-size: 25px;
}

input {
  margin: 10px;
  padding: 5px;
}

input:focus {
  background-color: rgb(253, 242, 143);
}

.footer {
  background: slategray;
  margin: 20px;
  border: 2px solid goldenrod;
  box-shadow: 2px 2px 2px black;
  margin: 50px;
  box-shadow: 3px 3px 3px black;
}

.result_card {
  color: white;
  justify-content: left;
  align-items: left;
  height: 300px;
  background-color: white;
  margin: 20px;
  border: 1px solid goldenrod;
  box-shadow: 2px 2px 2px black;
}

.event_name {
  color: white;
  justify-content: left;
  align-items: left;
}

#modal_p1,
#modal_p2 {
  color: black;
  text-shadow:none;
}

h3 {
    color:white;
    text-align:left;
    opacity: 1.0;
  text-align: center;
}

.result_card:hover {
    opacity: 0.8;
}


.fa-3x{
margin-top: -50px;
margin-left: 30px; 
text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
   
}

.price_range{
  text-align: center;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.name{
  font-size: 35px;
  font-weight: bolder;
}

.forecast_icon_modal{
  align-items: center;
  height:100px;
}

.w3-modal-content{
  align-items: center;
  text-align: center;
}