.main{
    background-color: rgb(23, 23, 41);
    height: 550px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 50px;

    border: 4px solid goldenrod;
    box-shadow: 3px 3px 3px 3px black;
    overflow: auto;
    clear: both;

}
  
body {
  background-image: url("./assets/concert.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150%;

}
 
table, th, td {
    border: 2px solid goldenrod;
    border-collapse: collapse;
    box-shadow: 2px 2px 2px black;

    color:seashell;
         width: 900px;
    font-size: 20px;

  }

  #header{
      text-align: center;
      font-family: 'Merriweather Sans', sans-serif;
      color: seashell;
  }

  .container{
      display: flex;
      justify-content: center;
      align-items: center;
  }

  h3, p{
      color: seashell;
      text-align: center;
  }

  .head{
      border: 3px solid goldenrod;
      box-shadow: 3px 3px 3px black;
      background-color: slategray;
  }

  body{
    background-image: url("./assets/concert.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;
    font-family: 'Merriweather Sans', sans-serif;
  }

  .search{
      width: 100%;
      background: slategray;
      padding: 30px;
      border: 2px solid goldenrod;
      box-shadow: 3px 3px 3px black;
      justify-content: center;
      align-items: center;
  }

  #btn_submit{
    border: 1px solid goldenrod; 
    box-shadow: 1px 1px 1px 1px black; 
    width: 50px;
    height: 50px;
    margin: 5px;
    background: slategray;
    font-size: 25px;
  }

  input {
      margin: 10px;
      padding: 5px;
  }

  input:focus{
      background-color: rgb(253, 242, 143);
  }

  .footer{
      background: slategray;
      margin: 20px;
      border: 2px solid goldenrod;
      box-shadow: 2px 2px 2px black;
  }